<%- include("templates/cabecera", {tituloWeb : "Login", estilo : "../styles/Login.css"}) %>
<body>
    <div id="root"><%- root %></div>
</body>
<script type="module" src="../js/login.js"></script>
</html>