<footer>
    <div class="contenedor_Principal">
        <div class="contenedor_fila">
          <div class="contenedor_hijo">
            <h4>¿Quienes somos?</h4>
          <p>Somos estudiantes de ultimos semestres de la Universidad del Magdalena, apasionados por el mundo del desarrollo web</p>
          </div>
          <div class="contenedor_hijo">
            <h4>Desarrolladores</h4>
            <ul>
              <li>Esteban Barraza</li>
              <li>Carlos González</li>
              <li>Jesus Rios</li>
            </ul>
          </div>
        </div>
      </div>
</footer>